:root {
    --branding-color: #716277;
    --secondary-color: #cec0da;
    --third-color:#b3d5ad;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }


  
body {
    font-family: var(--default-font-family);
    background-image: url("img/white.jpg");
  }
  
/*Navigation bar decoration */
nav {
  margin: 5px auto;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box; 
  
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 60px;
  margin-left: 25px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
  font-weight: 700;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

/* Logo image size */
.logo {
  max-height: 50px;
  margin-left: -50px;
}  
 
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3c3a52;
  font-family: var(--heading-font-family);
  font-weight: bolder;
}

h1 {
  font-size: 60px;
  padding: 25px;
  text-align: center;
}

h2 {
  font-size: 74px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: left;
  padding: 140px 200px;
  background-image: url("img/flower3.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center ;
}

.hero p {
  font-size: 66px;
  font-weight: bolder;
  margin: 0;
  color: #272142;
}

.hero h1{
  font-size: 85px;
  line-height: 2.5;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img{
margin-left: 65px;
}

.profile-pic {
  max-width: 100%;
  height: auto;
  display: block;
  background: transparent;
  border-radius: 250px; /* Add rounded corners to the image */
  box-shadow: 0 5px 10px rgba(141, 166, 217, 0.5);   
}

.highlights{
  font-size: 27px;
  font-weight: bolder;
  padding: 30px 0;
}

.project-desciption {
  padding: 40px 60px;
}

.weatherapp,
.worldclock {
  border-radius: 10px; /* Add rounded corners to the image */
  box-shadow: 0 5px 10px rgb(121, 125, 74, 0.8);
}
.weather{ /* div for weather */
  padding: 25px 25px 15px 25px;
  position: relative;
  margin: 25px 70px 25px 70px;
  background-color: rgb(236, 229, 208, 0.35);
  border-radius: 25px;
}
.clock{
  background-color: rgb(236, 229, 208, 0.35);
  padding: 25px 25px 15px 25px;
  position: relative;
  margin: 25px 70px 25px 70px ;
  border-radius: 25px;
}

.project-link a{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #C1C595;
  border-radius: 15px;
  border: 0.5px solid rgb(121, 125, 74);
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
  }
  
.project-link a:hover{
  background-color:#8a9c58;
} 

.contactinfo{
  background-image: url("flower2.jpg");
  padding: 40px 50px;
  align-items: stretch;
}

.contactme{
  padding: 20px 20px;
  margin: 25px 70px ;
  border-radius: 25px;
}

.inquiry{
  font-size: 44px;
  margin: 10px 0 0 170px;
  padding-left: 70px;
}

.work{
  font-size: 30px;
  margin: 10px 0 0 170px;
  padding-left: 70px;
}

.contact-link{
  margin: 25px 70px ;
  padding: 25px 0;
}

.contact-link a{
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #f0d8a6;
  border-radius: 15px;
  border: 0.5px solid #f0b331;
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
}

.contact-link a:hover {
  background: #ECC377;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-color: #667DA5; /* Adjust as needed */
  color: white; /* Adjust text color as needed */
  padding: 25px;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 0 20px; /* Adjust spacing between links */
}

.getintouch{
  background-image: url("img/flower2.jpg");
  margin: 5px 0;
  padding-bottom: 200px;
}
.getintouch h2{
 padding: 50px 0;
 text-align: center;
 font-size: 44px;
}
.getintouch h3{
  text-align: justify;
  padding: 25px 230px ;
  font-family: var(--default-font-family);
}
.getintouch h3 a{
  text-decoration: none;
  font-weight: 700;
  color: #272142;
  text-decoration: underline;
}
.skills h3{
  text-align: left;
  padding: 30px 150px ;
}
.hobby h3{
  text-align: left;
  padding: 30px 150px ;
}

.hobby ul {
  list-style: none;
  padding: 30px 150px 50px;
  font-size: 25px;
  font-weight: bolder;
}

.hobby li {
  margin-bottom: 15px; /* Adjust the margin as needed for spacing */
  display: flex;
  align-items: center;
}

.hobby li img {
  margin-right: 20px; /* Adjust the margin as needed for spacing between icon and text */
}

.skills ul {
  list-style: none;
  padding: 30px 150px 50px;
  font-size: 25px;
  font-weight: bolder;
}

.skills li {
  margin-bottom: 15px; /* Adjust the margin as needed for spacing */
  display: flex;
  align-items: center;
}

.skills li img {
  margin-right: 20px; /* Adjust the margin as needed for spacing between icon and text */
}







@media (max-width: 900px) {
  .hero h1 {
    font-size: 35px;
    line-height: 15px;
  }

  .hero h2 {
    font-size: 15px;
  }

  .hero {
    padding: 30px 10px;
    text-align: center;
  }
  .hero p{
    font-size: 25px;
  }
  .highlights{
    font-size: 22px;
    padding: 10px 0;

  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }

  .contactinfo {
    text-align: left;
    padding: 80px 0; /* Adjust padding as needed */
  }
  .inquiry {
    font-size: 30px; /* Adjust font size as needed */
    margin: 10px 0 0; /* Adjust margin as needed */
    line-height: 1.5;
    
  }
  
  .work {
    font-size: 25px; /* Adjust font size as needed */
    margin: 5px 0 0; /* Adjust margin as needed */
    line-height: 1.5;
  }
  .contact-link {
    margin: 20px 10px; /* Adjust margin as needed */
    padding-bottom: 5px;
  }
  
  .contact-link a {
    display: block;
    padding: 15px 10px;
    text-align: center;
    font-size: 22px;
    
  }
}