:root {
    --branding-color: #716277;
    --secondary-color: #cec0da;
    --third-color:#b3d5ad;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }


  
body {
    font-family: var(--default-font-family);
    background-image: url("img/white.jpg");
  }
  
/*Navigation bar decoration */
nav {
  margin: 5px auto;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box; 
  
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 60px;
  margin-left: 25px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
  font-weight: 700;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

/* Logo image size */
.logo {
  max-height: 50px;
  margin-left: -50px;
}  
 
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3c3a52;
  font-family: var(--heading-font-family);
  font-weight: bolder;
}

h1 {
  font-size: 60px;
  padding: 25px;
  text-align: center;
}

h2 {
  font-size: 74px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
/* HERO DIV - MAIN */
.hero {
  background: var(--secondary-color);
  text-align: left;
  padding: 140px 200px;
  background-image: url("img/flower3.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center ;
}

.hero p {
  font-size: 66px;
  font-weight: bolder;
  margin: 0;
  color: #272142;
}

.hero h1{
  font-size: 85px;
  line-height: 2.5;
  color: #272142;
  
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  font-weight: bold;
}

/*PROFILE PIC */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img{
margin-left: 65px;
}

.profile-pic {
  max-width: 100%;
  height: auto;
  display: block;
  background: transparent;
  border-radius: 250px; /* Add rounded corners to the image */
  box-shadow: 0 5px 10px rgba(141, 166, 217, 0.5);   
}

/*HIGHLIGHTS PARAGRAPH */
.highlights{
  font-size: 27px;
  font-weight: bolder;
  padding: 30px 0;
}

.project-desciption {
  padding: 40px 60px;
}

/*IMG FOR APPS + CONTAINERS */
.weatherapp,
.worldclock {
  border-radius: 10px; /* Add rounded corners to the image */
  box-shadow: 0 5px 10px rgb(121, 125, 74, 0.8);
}
.weather{ /* div for weather */
  padding: 25px 25px 15px 25px;
  position: relative;
  margin: 25px 70px 25px 70px;
  background-color: rgb(236, 229, 208, 0.35);
  border-radius: 25px;
}
.clock{
  background-color: rgb(236, 229, 208, 0.35);
  padding: 25px 25px 15px 25px;
  position: relative;
  margin: 25px 70px 25px 70px ;
  border-radius: 25px;
}

/*LEARN MORE LINK */
.project-link a{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #C1C595;
  border-radius: 15px;
  border: 0.5px solid rgb(121, 125, 74);
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
  }
  
.project-link a:hover{
  background-color:#8a9c58;
} 

/*WORK INQUIRY */
.contactinfo{
  background-image: url("flower2.jpg");
  padding: 40px 50px;
  align-items: stretch;
}

.contactme{
  padding: 20px 20px;
  margin: 25px 70px ;
  border-radius: 25px;
}

.inquiry{
  font-size: 44px;
  margin: 10px 0 0 170px;
  padding-left: 70px;
}

.work{
  font-size: 30px;
  margin: 10px 0 0 170px;
  padding-left: 70px;
}

.contact-link{
  margin: 25px 70px ;
  padding: 25px 0;
}

.contact-link a{
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #f0d8a6;
  border-radius: 15px;
  border: 0.5px solid #f0b331;
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
}

.contact-link a:hover {
  background: #ECC377;
}

/*FOOTER ON ALL PAGES */ 
footer {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-color: #667DA5; /* Adjust as needed */
  color: white; /* Adjust text color as needed */
  padding: 25px;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 0 20px; /* Adjust spacing between links */
}

/* CONTACT PAGE */
.getintouch{
  background-image: url("img/flower2.jpg");
  margin: 5px 0;
  padding-bottom: 200px;
}
.getintouch h2{
 padding: 50px 0;
 text-align: center;
 font-size: 44px;
}
.getintouch h3{
  text-align: justify;
  padding: 25px 230px ;
  font-family: var(--default-font-family);
}
.getintouch h3 a{
  text-decoration: none;
  font-weight: 700;
  color: #272142;
  text-decoration: underline;
}

/*ABOUT ME PAGE */
.about-back{
  background-image: url("img/flower5.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  
}

.skill-back{
  background-image: url("img/flower2.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center ;
  
}

.about-section {
  max-width: 1300px;
  margin: 0 auto;
  
}

.aboutme {
  margin-top: 20px;
  background-color: rgb(236, 229, 208, 0.35); 
  padding: 20px 50px;
  border-radius: 10px; /* Add rounded corners to the box */
}

.aboutme p {
  text-align: justify;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold ; /* Remove default margin to reduce space */
}

.img1 {
  margin-top: 20px;
  margin-left: 100px;
   /* Adjust the margin to create space between image and paragraph box */
}

.profile-pic1 {
  max-width: 100%;
  height: auto;
  display: block;
  background: transparent;
  border-radius: 250px; /* Add rounded corners to the image */
  box-shadow: 0 5px 10px rgba(141, 166, 217, 0.5);
}

.check-projects {
  padding: 0 150px;
}
.check-projects a{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  background-color: rgba(141, 166, 217);
  border-radius: 15px;
  border: 0.5px solid rgb(58, 111, 216);
  box-shadow: 5px 5px 5px rgb(171, 186, 214);
  color: black;
  opacity: 0.8;
  }
  
.check-projects a:hover{
  background-color:rgb(34, 94, 212);
} 

.tech-skills h3{
  text-align: left;
  padding: 40px 130px 20px ;
  font-size: 45px;
}

.skills h3,
.hobby h3,
.languages h3{
  text-align: left;
  padding: 40px 150px 20px ;
  font-size: 45px;
}

.tech-skills {
  text-align: center; /* Center the text */
  padding: 20px; /* Add some padding for spacing */
}

.techskills1 ul,
.techskills2 ul {
  list-style: none;
  padding: 10px 150px 50px;
  font-size: 25px;
  font-weight: bolder;
}

.techskills1 li,
.techskills2 li {
  margin-bottom: 15px; /* Adjust the margin as needed for spacing */
  display: flex;
  align-items: center;
}

.techskills1 li img,
.techskills2 li imf {
  margin-right: 20px; /* Adjust the margin as needed for spacing between icon and text */
}


.hobby ul {
  list-style: none;
  padding: 10px 150px 50px;
  font-size: 25px;
  font-weight: bolder;
}

.hobby li {
  margin-bottom: 15px; /* Adjust the margin as needed for spacing */
  display: flex;
  align-items: center;
}

.hobby li img {
  margin-right: 20px; /* Adjust the margin as needed for spacing between icon and text */
  
}

.skills ul {
  list-style: none;
  padding: 10px 150px 50px;
  font-size: 25px;
  font-weight: bolder;
}

.skills li {
  margin-bottom: 15px; /* Adjust the margin as needed for spacing */
  display: flex;
  align-items: center;
}

.skills li img {
  margin-right: 20px; /* Adjust the margin as needed for spacing between icon and text */
}

.languages ul {
  list-style: none;
  padding: 10px 150px ;
  font-size: 25px;
  font-weight: bolder;
}

.languages li {
  margin-bottom: 15px; /* Adjust the margin as needed for spacing */
  display: flex;
  align-items: center;
}

.languages li img {
  margin-right: 20px; /* Adjust the margin as needed for spacing between icon and text */

}


/*PROJECTS PAGE */
.project-back{
  background-image: url("img/flower2.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  padding: 20px;
  
}

.projects-section h2{
  font-size: 35px;
}

.projects-section {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  flex: 1; /* Make each card take equal width */
  margin-right: 20px; /* Add margin between cards */
  background-color: rgb(244, 239, 231, 0.8); /* Set background color with transparency */
  box-shadow: 5px 5px 5px rgb(212, 189, 162); /* Add a subtle shadow for depth */
  border: 3px solid rgb(121, 125, 74);
  margin-bottom: 30px; /* Add margin at the bottom */
}

.card-body {
  padding: 20px; /* Add padding to the card body */
}

.card:last-child {
  margin-right: 0; /* Remove margin from the last card */
}

.card-img-top {
  max-height: 450px; /* Set max height for the card images */
  padding: 20px 15px; 

  /* object-fit: cover; */
   /* Make sure the image covers the whole space */
}

.card-body h3{
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.card-body p{
  font-size: 16px;
}

.btn.btn-primary {
  background-color:  #C1C595;
  border: 1px solid rgb(121, 125, 74);
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  font-weight: 600;
  padding: 10px 15px;
}

.btn.btn-primary:hover {
  background-color: #8a9c58;
  border: 1px solid rgb(121, 125, 74);
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .hero h1 {
    font-size: 35px;
    line-height: 15px;
  }

  .hero h2 {
    font-size: 15px;
  }

  .hero {
    padding: 30px 10px;
    text-align: center;
  }
  .hero p{
    font-size: 25px;
  }
  .highlights{
    font-size: 22px;
    padding: 10px 0;

  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }

  .contactinfo {
    text-align: left;
    padding: 80px 0; /* Adjust padding as needed */
  }
  .inquiry {
    font-size: 30px; /* Adjust font size as needed */
    margin: 10px 0 0; /* Adjust margin as needed */
    line-height: 1.5;
    
  }
  
  .work {
    font-size: 25px; /* Adjust font size as needed */
    margin: 5px 0 0; /* Adjust margin as needed */
    line-height: 1.5;
  }
  .contact-link {
    margin: 20px 10px; /* Adjust margin as needed */
    padding-bottom: 5px;
  }
  
  .contact-link a {
    display: block;
    padding: 15px 10px;
    text-align: center;
    font-size: 22px;
  }

  h1{
    font-size: 50px;
  }

  .tech-skills h3{
    padding: 25px 0px 0px;
    font-size: 30px;
    text-align: left;
  }
  
  .skills h3,
  .hobby h3,  
  .languages h3 {
    text-align: left;
    padding: 25px 25px 0px;
    font-size: 30px;
  }

  .techskills1 ul,
  .techskills2 ul ,
  .hobby ul,
  .skills ul,
  .languages ul {
    padding: 0px 10px 0px;
    margin: 10px 0; /* Add margin for spacing */
    text-align: left;
  }

  .techskills1 li,
  .techskills2 li, 
  .hobby li,
  .skills li,
  .languages li {
    font-size: 12px;
  }

  .techskills1 li img,
  .techskills2 li img,
  .hobby li img,
  .skills li img,
  .languages li img {
    margin-right: 5px;
    width: 25px;
  }

   .getintouch h3 {
    padding: 25px 15px;
    font-size: 18px;
  }
  .getintouch h2{
    font-size: 45px;
    text-align: left;
    padding: 50px 20px;
  }

  .about-section h1,
  .projects-section h1,
  .projects-section h1{
    font-size: 45px;
  }

  .aboutme {
    padding: 20px 20px; /* Adjust padding for smaller screens */
  
  }

  .aboutme p{
    font-size: 15px;
  }

  .check-projects {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .check-projects a {
    padding: 15px 10px;
    font-size: 15px;
  }

  /* .row > div {
    flex: 0 0 100%; 
    }  */
    /* Make columns full width on smaller screens */
    
  .card h3{
    text-align: center;
    font-size: 30px;
  }
 
  .card {
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* .card-img-top {
    display: none;  } */
    /* Hide the image on smaller screens */
  .col-md-6 {
    margin-bottom: 20px; /* Add margin between the cards in responsive mode */
  }
}


